/*

filename: [style.css]

author: [Thomas Federico]

created: [28/03/2025]

last modified: [28/03/2025]

description: [lab04.html]

*/

h1 { 
    color: purple;
    font-size: 2em;
    font-weight: bold;
}